@import "../abstracts/variables";

.container-form {
    @include box-shadow;
    @include container-border;
    margin-top: 15px;
    background-color: #fff;        
}

@media screen and (max-width: 800px) {
    .container-form {
        margin-top: 0;
    }
}