<nav-search></nav-search>

<div class="container-fluid list-container-fluid">
  <div class="row row-list">
    <ng-container *ngFor="let person of (store.state$ | async).list as personList; trackBy: trackByFn">      
      <div class="col-md-12 col-sm-12 col-12 col-lg-4 card-container">        
        <person [person]="person"></person>      
      </div>
    </ng-container>

    <div class="col-md-12 col-sm-12 col-12 col-lg-4 card-container">
      <card-plus></card-plus>            
    </div>
  </div>
  
  <div class="row row-list row-alert justify-content-center">
    <div class="col-md-12 col-sm-12 col-12 col-lg-4">
      <app-alert></app-alert>
    </div>
  </div>
</div>
