
<div class="modal container-form" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" 
  [ngStyle]="setShow() ? {'display': 'block'} : {'display': 'none'}">  
  
  <div class="modal-dialog" role="document">    
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">{{title}}</h5>
        <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">         
          <div class="custom-file">      
            <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile03" 
              (change)="processFile($event)">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
          </div>
        </div>
    
        <img src="{{picture.url}}" class="card-img img-round">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="cancel()">Close</button>
        <button type="button" class="btn btn-submit" (click)="ok()">Ok</button>
      </div>

    </div>
  </div>
</div>