  <nav-search></nav-search>
  
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-9 col-12 aside-part">        
        <person-list [personList]="personList$ | async"></person-list>
      </div>  
  
      <div class="col-lg-2 col-md-4 col-sm-3 col-12 aside-part">        
          <flight-widget [flights]="widgetList$ | async"></flight-widget>
      </div>
    </div>
  </div>
  
  <!-- <div class="row row-list row-alert justify-content-end">     -->
    <app-alert class="col-md-12 col-sm-12 col-12 col-lg-4"></app-alert>
  <!-- </div>  -->
