<div class="card app-card">    
  <div class="card-header">
    Flight
    </div>
    <div class="card-body">          

      <div class="card-block">
        <h5 class="card-title">{{widget.airline}}</h5>            
        <a href="{{widget.cityDestination.googleMapUrl}}" class="maps-link" *ngIf="hasMapUrl()" aria-label="Map">
          <i class="fa fa-map-marker fa-sm" aria-hidden="true">                  
          </i><span class="card-text text-muted">  {{widget.cityDestination.name}}</span>
        </a>
      </div>

      <div class="card-block">              
        <h6 class="card-subtitle">{{widget.price | currency : widget.currency}}</h6>
        <!-- <h6 class="card-subtitle">{{widget.currency}}</h6> -->
        <h6 class="card-subtitle">{{widget.cityOrigin.name}}</h6>
        <p class="card-text text-muted">Expires: {{widget.expires_at | date: "longDate"}}</p>
        <!-- <p class="card-text text-muted">{{widget.expires_at | date: "fullDate"}}</p> -->
      </div>

      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

      <div class="card-block card-footer">                
        <!-- <a href="#" class="btn btn-small btn-card-edit" [routerLink]="['/home']" aria-label="Show Detail">
          <i class="fa fa-info fa-sm"></i>                             
        </a> -->
        <button class="btn btn-small btn-card-delete" (click)="show()" aria-label="Close">
          <i class="fa fa-trash fa-sm"></i>                         
        </button>             
      </div>
    </div>
   
  </div>  
