@import "components/cards";
@import "components/images";
@import "components/button";

:host {
    padding: 9px 9px 0 0
}

.app-card {
    min-width: auto;
    min-height: auto;

    .card {
        border-radius: 0;
        border: none;
    }

    .card-body {
        padding-bottom: 15px;
    }
    
    .block-info {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    .block-widget {
        font-size: 15px; 
        padding: 15px 0;        
    }

    .btn-submit {
        margin: auto;
    }
    
    #accordionHeading {
        background-color: $btnColorDark; //#353b48;
        color: $btnActiveColor;
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
        
        &:hover {
            opacity: 0.9;            
        }
        .card-link {
            h5 {
                font-weight: 200;
            }
            .card-block > h5 {
                font-weight: 200;                
            }
        }        
    }
}

.collapse, .show {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
}

.collapse:not(.show) {
    display: block;
    max-height: 0;   
}

.show {
    display: block;
    max-height: 300px;    
}

@media screen and (max-width: 800px) {
    :host {
        padding: 0
    }
}