@import "abstracts/app-variables";

.alert {
    overflow-wrap: break-word;

    padding: $paddingSmall;
    min-height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    // top: 120px;        
    // height: 80px;        
    // min-width: 80px;        
    
    // .justify-content {
    //     justify-content: flex-end;
    // }
}