@import "components/cards";
@import "components/images";
@import "components/button";
@import "components/form";


.btn-get {    
    background-color: transparent;
    margin: 0.25rem;
}


@media screen and (max-width: 800px) {    
    .btn-get {
        background-color: $btnActiveColor;
    }      
}
